{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "jsxBracketSameLine": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 120
}
